<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
<header>
  <% include ./partials/header %>
</header>
  <h1>Details</h1>

  <div class="details-list">
    <% contacts.forEach(function(contact){ %>
      <div>
        <a href='contacts/<%= contact.id %>'>
          <%= contact.name %>
        </a>
      </div>
      <button><a href=''> DELETE </a></button>
      <div>
        Email:
        <a href='mailto:/<%= contact.email %>'>
          <%= contact.email %>
      </div>
      <div>
        Phone :
        <%= contact.phone %>

          <div>
            Address :
            <%= contact.street %>
              </br>
              <%= contact.city %>,
                <%= contact.state %>
                  <%= contact.zip %>
                    </br>
                    <%= contact.country %>
                      </br>
          </div>
          <div>
 Birthday:
<%= contact.birthday %>
          </div>
          <div>
 website:
<a href='<%= contact.website %>'>
  <%= contact.website %>
          </div>
          

<% }) %>
  </div>
  <footer>
    <% include ./partials/footer %>
  </footer>
  </body>
</html>